body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 10px;
    border: none;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background: #eee;
    padding: 8px;
    border-radius: 5px;
}

li button {
    background: red;
}